@model List<Art_shop.Models.Auction>

@{
    ViewBag.Title = "Auctions";
    Layout = "~/Views/Shared/_LayoutPage_main.cshtml";
}
<br />
<br />
<br />
<div class="container">
    <div class="row port_1 text-center">
        <div class="col-md-12">
            <h1 class="font_60">Auctions</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
            <span class="icon_line col_pink"><i class="fa fa-square-o"></i></span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <!-- Your existing content for the left side (image) -->
            @foreach (var auction in Model)
            {
                <div class="card mb-4">
                    <img src="@Url.Content("~/Images/" + auction.Artwork.ArtworkImage)" class="card-img-top" alt="Artwork Image">
                </div>
            }
        </div>
        <div class="col-md-8">
            <!-- Your existing content for the right side (details, bid options) -->
            @foreach (var auction in Model)
            {
                <div class="card mb-4">
                    <div class="card-body bg-black">
                        <h5 class="card-title">@auction.Artwork.ArtworkTitle</h5>
                        <p class="card-text">Artist: @(auction.Artist != null ? auction.Artist.ArtistName : "N/A")</p>
                        <p class="card-text">Starting Bid: @auction.StartingBid</p>

                        <p class="card-text">Start Date: @auction.StartDate</p>
                        <p class="card-text">End Date: @auction.EndDate</p>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Display bid options only if the user is logged in -->
                            <select name="bidAmount" id="bidAmount" class="form-control">
                                <option value="100">$100</option>
                                <option value="200">$200</option>
                                <!-- Add more bid options as needed -->
                            </select>
                        }
                        else
                        {
                            <p class="card-text">
                                Log in to place a bid.<br /><br />
                                <a href="@Url.Action("Login", "user_info")" class="btn btn-danger">Login</a>
                            </p>

                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<section id="bloh_h" class="p_4">
    <div class="container-fluid">
        <div class="row port_1 text-center mb-4">
         </div>
          <div class="row bloh_h1">
            <div class="col-md-6 p-0">
                <div class="bloh_h1l">
                    <div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/Art_Images/pexels-jean-van-der-meulen-1547708.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Art_Images/pexels-scott-webb-1022934.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bloh_h1r text-center">
                    <h1 class="font_50">Future Auctions</h1>
                    <p class="mt-3"><span class="fw-bold">Best Artwork</span>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film.</p>
                    <h6 class="mt-4 mb-0"><a class="button" href="@Url.Action("MemberArtwork", "Home")"><i class="fa fa-bullhorn bg-white col_pink p-3"> </i> <span class="ps-3 pe-3">VIEW GALLERY</span></a></h6>
                </div>
            </div>
        </div>
     </div>
</section>
 