@model Art_shop.Models.cart

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artwork_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artwork_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ip_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip_add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
