@model IEnumerable<Art_shop.Models.MemberArtwork>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtworkTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtworkImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtworkTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtworkImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtworkID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtworkID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtworkID })
        </td>
    </tr>
}

</table>
