@model Art_shop.Models.ShoppingCart

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ShoppingCart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artwork.ArtworkTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artwork.ArtworkTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.first_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
